.bgNosotros{
    background-image: url(../../app/images/nosotros.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 2rem;
}

.bgOscuro{
    background: rgba(24, 46, 46, 0.7);
}

