.seccionSlider {
	overflow: hidden;
  }

.contenedorPrincipal{
  position: relative;

  
}


.contenedorSlide{
  display: flex;
  flex-wrap: nowrap;
  position: relative;

}
.contenedorSlide:hover{
  cursor: pointer;
}
.slideshow{
  min-width: 100%;
	overflow: hidden;
	transition: .3s ease all;
	z-index: 10;
	/* max-height: 500px; */
	position: relative;
}


.contenedorBotones{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  top:0
}

.botonSlide{
  /*background-color: rgba(0, 0, 0, 0.3);*/
  padding: 0 10px;
  border: 0;
  fill: #fff;
  

}

.botonSlide:hover{
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
}

.contendorParrafo{
  padding: 0.5rem;
  border: 0;
  width: 100%;
  position: absolute;
  color:white;
  top: 0;
  background-color: rgba(0,0,0,.3);
  text-align: center;

}